@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  width: 100%;
  min-height: 100vh;
  display: grid;
  background: green;
  place-items: center;
}

.card {
  height: 250px;
  width: 200px;
  border-radius: 10px;
  box-shadow: 3px 3px;
  border: 2px solid black;
}
